body{

    color:white;
    background-color: rgba(2, 6, 25, 0.951);
    padding:2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;

    justify-content: center;
    align-items: center;
    
}
h2{

     justify-content: center;
     font-size: 25px;


}
main{
   
   justify-content: center;
    text-align: left;
}
input{

    margin: 10px;
    border-radius:5px;
    height: 20px;
    border:0.5px solid black ;


}
h2{
    text-align: center;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
button{


    border-radius: 10px;
    background-color: white ;
    color:black;
    height:40px;
    width:120px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border:none;
    transition: all 0.2s ease;
    
}
 button:hover{

   background-color: black;
   color:white;

}

#mensagem{

    justify-content: center;
    text-align: center !important;



}
.containers{
    color: black;
   position: relative;
   border-radius: 10px;
   padding: 15px;
   gap: 12px;
   display: flex;
   flex-direction: column;
   background-color:rgba(245, 245, 245, 0.89);
   width:25%;
   height: 60%;
   margin-left: auto;
   margin-right: auto;
   transition: all 0.5s ease;
  

}

#form-cadastro{

    display:none;
}

.boas-vindas{

         justify-content: center;
         align-items: center !important; 

 }   

 .ajustes{

        margin-top: 80px;
        width: 50%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-left:auto;
        margin-right: auto;
        flex-direction: column;
        display: flex;

 }
 .imagem{


    background-image: url("/loginSupabase-main/loginSupabase-main/IMAGES/campfire1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8    ;

 }
 .botao{


    animation: piscar 2s ease-in infinite;
 }

 @keyframes piscar {

    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    
 }